<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tube/style.css' %}">
<ul class="nav justify-content-end">
    <li class="nav-item">
    <a class="nav-link active"  href="{% url 'tube:index' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  href="{% url 'tube:about' %}">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" >Help</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
  </li>
</ul><br><br>
<div align="center">
    <h4 style="color:white">Steps to download video:</h4>
    <p align="center">
        <b style="color:white">Step 1:</b>
       <p style="color:white"> Find the video you want to download,copy the URL of youtube video
        from the browser and insert it in
        the Url field . click the start button.</p><br>
        <b style="color:white">Step 2:</b>
       <p style="color:white"> now select the resolution you want and click download button.
    </p>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>