body{
     background-image:url("https://images.unsplash.com/photo-1523365280197-f1783db9fe62?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
     background-size :cover;
}
.dis{
    text-align:center;
    padding-top:23%;
}
